.webinar-wrapper {
  max-width: 1200px;
  margin: auto;
    padding: 60px 20px 20px 20px;
  font-family: "Inter", sans-serif;
  color: #0b2b4b;
}

.webinar-title-feature {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 50px;
  line-height: 1.3;
}

.webinar-content {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 50px;
  align-items: start;
}

/* Image Section */
.webinar-image img {
  width: 100%;
  height: 50vh;
  border-radius: 24px;
  object-fit: cover;
}

/* Right Side */
.price-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 27px;
}

.features-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.features-grid ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features-grid li {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #34495e;
}

.features-grid li img {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  margin-top: 2px;
}

.features-grid li span {
  line-height: 1.5;
}

/* Bonus */
.bonus-box {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: #eef4c8;
  padding: 10px 16px;
  border-radius: 30px;
  margin-top: 25px;
  font-size: 14px;
  font-weight: 600;
}

.bonus-tag {
  background: #a3b65f;
  color: #fff;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
}

/* Responsive */
@media (max-width: 900px) {
  .webinar-content {
    grid-template-columns: 1fr;
  }

  .features-grid {
    grid-template-columns: 1fr;
  }

  .webinar-title {
    font-size: 32px;
  }

  .webinar-image img {
    height: auto;
  }
}


@media (max-width: 600px) {
.webinar-title-feature {
        font-size: 28px;
        line-height: 36px;
    }
}