.starter-wrapper {
  max-width: 1050px;
  margin: auto;
  text-align: center;
  padding: 60px 20px;
  font-family: 'Inter', sans-serif;
}

.starter-heading {
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  color: #1A1A1A;
}


.sub-head {
  margin-top: 16px;
  color: #6B7280;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  
}

.starter-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 22px;
  margin-top: 40px;
}

.starter-card {
  background: #FBFCF2;
  padding: 22px;
  border-radius: 14px;
  text-align: left;
    box-shadow: inset 0 -4px 0 #38400d;

  color: #38400D;
}

.card-top {
  display: flex;
  align-items: center;
  gap: 10px;
}


.starter-card h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #38400D;
}

.desc {
  margin-top: 6px;
  color: #6B7280;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 2.5rem;
}

.price {
  margin-top: 1.25rem;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #38400D;
  text-align: center;
}

/* TOTAL BOX INSIDE GRID (Right Column Last Row) */
.starter-total-box {
  background: #D3E373;
  color: #000;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.starter-total-box h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 35px;
}

.starter-total-box p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .starter-grid {
    grid-template-columns: 1fr;
  }
}


/* Small Mobile - 480px */
@media (max-width: 480px) {

.starter-heading {
    font-size: 28px;

    line-height: 36px;

  }


}
