.team-slider {
  width: 100%;
  padding: 40px 0;
 
}




.team-card {
  width: 100%;
  border-radius: 32px;
  overflow: hidden;
}

.team-card-top {
  height: 260px;
  border-radius: 32px 32px 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.team-photo {
  height: 240px;
  width: 100%;
  object-fit: contain;
  object-position: bottom;
}

.fix-mokshika {
  height: 280px !important;
  margin-bottom: -20px !important;
}

.team-card-bottom {
  background: #fff;
  border: 2px solid;
  border-top: none;
  border-radius: 0 0 32px 32px;
  text-align: center;
  padding: 18px 0;
}

.team-name {
  font-size: 1.1rem;
  margin: 0;
  font-weight: 600;
}

@media (max-width: 900px) {
  .team-card-top {
    height: 220px;
    
  }
  .team-photo {
    height: 200px;
  }
}

@media (max-width: 600px) {
  .team-card-top {
    height: 200px;
  }
  .team-photo {
    height: 180px;
  }
  .team-name {
    font-size: 1rem;
  }

  .fix-mokshika {
  height: 220px !important;

}
}



/* bharti */

 .embla {
  width: 100%;
  overflow: hidden;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 20%;
  padding: 0px;
}

@media (max-width: 1024px) {
  .embla__slide {
    flex: 0 0 50%;
  }
}

@media (max-width: 768px) {
  .embla__slide {
    flex: 0 0 100%;
  }
}
