.testimonial-wrapper {
  text-align: center;
  padding: 50px 20px;
  background: #FBFCF2;
  margin: 50px auto 00 auto;
}

.testimonial-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 10px;
  color: #111;
}

.testimonial-sub {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #4a4a4a;
  margin-bottom: 4px;
}

.testimonial-sub2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #555;
  margin-bottom: 50px;
}

/* GRID */
.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

@media (max-width: 1100px) {
  .testimonial-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .testimonial-grid {
    grid-template-columns: 1fr;
  }
}

/* CARD */
.testimonial-card {
  background: white;
  padding: 30px;
  border-radius: 22px;
  text-align: left;


  /* Soft gradient glow like your screenshot */
  box-shadow: 0px 20px 40px rgba(100, 120, 255, 0.15),
    0px -4px 12px rgba(120, 140, 255, 0.08);
}

.testimonial-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #222;
  margin-bottom: 20px;
}

/* User row */
.testimonial-user {
  display: flex;
  align-items: center;
  gap: 6px;
}

.name {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}


.role {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #666;
  margin-top: 2px;
}







/* Small Mobile - 480px */
@media (max-width: 480px) {

.testimonial-title {
    font-size: 28px;
    line-height: 36px;

  }

}